<div style="float: left;">
    <div class="card" style="width: 18rem;" *ngFor="let animal of vetorAnimal; let id = index">
        <img class="card-img-top" src="../../assets/dogao.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{animal.nomeAnimal}}</h5>
            <p class="card-text">Espécie: {{animal.especieAnimal}}</p>
            <p class="card-text">Sexo: {{animal.sexo}}</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
</div>