<div class="container">
    <div class="card cadastro-card">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/papagaio.jpg" alt="cadastro" class="cadastro-card-img">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <p class="cadastro-card-description">Cadastre um animal</p>
                    <form>
                        <div class="form-group">
                            <label for="text" class="sr-only">Nome</label>
                            <input type="text" name="nome" [(ngModel)]="animal.nome" class="form-control"
                                placeholder="Nome">
                        </div>
                        <div>
                            <label for="tipo" class="sr-only">Espécie</label>
                            <input type="text" name="tipo" [(ngModel)]="animal.tipo" class="form-control"
                                placeholder="Especie">
                        </div>
                        <div class="form-group mb-4">
                            <label for="raca" class="sr-only">Raça</label>
                            <input type="text" name="raca" [(ngModel)]="animal.raca" class="form-control"
                                placeholder="Raça">
                        </div>
                        <div>
                            <label for="idade" class="sr-only">Idade</label>
                            <input type="number" name="idade" [(ngModel)]="animal.idade" class="form-control"
                                placeholder="idade">
                        </div>
                        <div>
                            <label for="descricao" class="sr-only">Descrição</label>
                            <input type="text" name="descricao" [(ngModel)]="animal.descricao" class="form-control"
                                placeholder="descricao">
                        </div>
                        <div>
                            <label for="sexo" class="sr-only">Sexo</label>
                            <input type="text" name="sexo" [(ngModel)]="animal.sexo" class="form-control"
                                placeholder="Sexo">
                        </div>
                        <div>
                            <select name="estado" [(ngModel)]="idEstadoSelecionado" (change)="buscarCidade()"
                                class="selects">
                                <option value="0"> Selecione</option>
                                <option *ngFor="let estado of estados | async" value="{{estado.id}}">{{estado.nome}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <select name="cidade" class="selects" [(ngModel)]="cidadeNome">
                                <option value="0"> Selecione</option>
                                <option *ngFor="let cidade of cidades | async" value="{{cidade.nome}}">{{cidade.nome}}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-block cadastro-btn mb-4" (click)='salvar()'>Cadastrar </button>
                    </form>
                    <p class="cadastro-card-footer-text"> Clique <a routerLink="/home" class="text-reset"> aqui</a>
                        para voltar</p>
                    <nav class="cadastro-card-footer-nav">
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
