<div class="container-fluid" id="principal">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="card-body">

                        <div class="container">
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-success"><strong>+</strong>Add Dica</a>
                                </div>
                                <div class="col-md-8">
                                    <h1><strong>Editar Dicas</strong></h1>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Título</th>
                                        <th scope="col">Conteúdo</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>O que não ...</td>
                                        <td>Lorem, ipsum dolor sit amet consectetur ...</td>
                                        <td>
                                            <button class="grow_skew_forward">Editar</button>
                                            <button href="#" class="btn btn-danger">Excluir</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>O que não ...</td>
                                        <td>Lorem, ipsum dolor sit amet consectetur ...</td>
                                        <td><button href="#" class="btn btn-warning mr-1">Editar</button>
                                            <a href="#" class="btn btn-danger">Excluir</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>O que não ...</td>
                                        <td>Lorem, ipsum dolor sit amet consectetur ...</td>
                                        <td><button href="#" class="btn btn-warning mr-1">Editar</button>
                                            <a href="#" class="btn btn-danger">Excluir</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>O que não ...</td>
                                        <td>Lorem, ipsum dolor sit amet consectetur ...</td>
                                        <td><button href="#" class="btn btn-warning mr-1">Editar</button>
                                            <a href="#" class="btn btn-danger">Excluir</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>