<div class="container-fluid" id="teste">
  <div class="row-fluid">
    <button id="cadAnimal"> Cadastrar animal</button>
  </div>

  <div class="container-filtro mb-4 mr-auto row-fluid">
    <p> Encontre seu parceiro</p>

    <form action="">
      <label for="estado"> Selecione um estado</label>
      <select id="estado" name="estado" [(ngModel)]="idEstadoSelecionado" (change)="buscarCidade()">
        <option>Selecione</option>
        <option *ngFor="let estado of estados | async" value="{{estado.id}}">
          {{estado.nome}}</option>
          
      </select>
      <label for="cidade"> Selecione uma cidade</label>
      <select id="cidade">
        <option> Selecione</option>
        <option *ngFor="let cidade of cidades | async" value="cidade.id">
          {{cidade.nome}}
        </option>
      </select>
      <br>
      <label for="porte"> Porte</label>
      <br>
      <select id="porte">
        <option>Pequeno</option>
      </select>
      <br>
      <label for="especie"> Especie</label>
      <br>
      <select id="especie">
        <option>Cachorro</option>
      </select>
      <br>
      <input type="submit" id="filtrar" value="Filtrar">
    </form>
  </div>
</div>

<h1>Listagem de estados e cidades</h1>
<ul>
  <li></li>
</ul>

<app-animal></app-animal>