<div class="container-fluid" id="principal">
    <div class="container">

        <div class="card">
            <div class="container">
                <div class="row">

                    <img class="card-img" src="../../assets/papagaio.jpg" alt="Card image cap">

                </div>
                <div class="row">
                    <div id="conteudo">
                        <h3>5 TIPOS DE ALIMENTOS QUE VOCÊ NÃO DEVE DAR AO SEU PET</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolores molestiae magnam
                            debitis, non assumenda obcaecati magni ea aut vero pariatur veritatis, perspiciatis,
                            quaerat ipsa aliquid incidunt! Quaerat, autem id.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt veniam quibusdam
                            magnam blanditiis nemo praesentium, repellendus nulla dolore asperiores beatae
                            reprehenderit aperiam voluptas sapiente itaque quisquam iste aut ab.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>