<div id="filtro">
    <div class="container row">
        <div class="col-md-8">
            <a id="titulo">Pets:</a>
            <button class="grow_skew_forward">Doados</button>
            <button class="grow_skew_forward">Ativos</button>
            <button class="grow_skew_forward">Ambos</button>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">

    <a href="/visualizar">
        <div class="card" style="width: 18rem;" id="grow">
            <img src="../../assets/gatoindex.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Beni</h5>
                <p class="card-text">Sexo: macho</p>
                <p class="card-text">Porte: pequeno</p>
                <button class="grow_skew_forward">Visualizar</button>
            </div>
        </div>
    </a>

    <a href="/visualizar">
        <div class="card" style="width: 18rem;" id="grow">
            <img src="../../assets/gatoindex.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Beni</h5>
                <p class="card-text">Sexo: macho</p>
                <p class="card-text">Porte: pequeno</p>
                <button class="grow_skew_forward">Visualizar</button>
            </div>
        </div>
    </a>

    <a href="/visualizar">
        <div class="card" style="width: 18rem;" id="grow">
            <img src="../../assets/gatoindex.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Beni</h5>
                <p class="card-text">Sexo: macho</p>
                <p class="card-text">Porte: pequeno</p>
                <button class="grow_skew_forward">Visualizar</button>
            </div>
        </div>
    </a>

    <a href="/visualizar">
        <div class="card" style="width: 18rem;" id="grow">
            <img src="../../assets/gatoindex.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Beni</h5>
                <p class="card-text">Sexo: macho</p>
                <p class="card-text">Porte: pequeno</p>
                <button class="grow_skew_forward">Visualizar</button>
            </div>
        </div>
    </a>

</div>